{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}


{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Page d'accueil✅</h1>
    <br>
    {% if is_granted('ROLE_ADMIN') %}
      <p>Vous êtes connecté en tant que {{ app.user.username }} (Admin)</p>
{% else %}   
      {% if is_granted('ROLE_USER') %}
              <p>Vous êtes connecté en tant que {{ app.user.username }} (Utilisateur)</p>
      {% endif %} 
{% endif %}    
    
</div>
{% endblock %}
